<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediationServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.20.74.138:8001/MediationServer/MediationServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediationServer"
                contract="ServerService.IMediationServer" name="BasicHttpBinding_IMediationServer" />
        </client>
    </system.serviceModel>
</configuration>