<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMediationServer" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.74.138:8001/MediationServer/MediationServer"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediationServer"
        contract="ServerService.IMediationServer" name="BasicHttpBinding_IMediationServer" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MediationService.MediationServer" behaviorConfiguration="mexBehaviour">
        <endpoint address="MediationServer" binding="basicHttpBinding" contract="MediationService.IMediationServer">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://172.20.74.138:8001/MediationServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
